<div style="text-align: right;">
  <% if logged_in? %>
    Currently logged in as: <%= current_user.email %> |

    <% if current_user.has_linked_github? %>
      <%= link_to 'Unlink your Github account', delete_oauth_path('github'), method: :delete %>
    <% else %>
      <%= link_to 'Link your GitHub account', auth_at_provider_path(:provider => :github) %>
    <% end %> |

    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to 'Login', login_path %> |
    <%= link_to 'Login using Github', auth_at_provider_path(provider: :github) %>
  <% end %>
</div>
