<!DOCTYPE html>
<html>
<head>
  <title>TodoOauthTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/session_links' %>

<% if flash[:alert] %>
  <p class="flash-error" style="border: 1px solid red; padding: 2px; display: inline-block;">
    <%= flash[:alert] %>
  </p>
<% end %>
<% if flash[:notice] %>
  <p class="flash-notice" style="border: 1px solid green; padding: 2px; display: inline-block;">
    <%= flash[:notice] %>
  </p>
<% end %>

<%= yield %>

</body>
</html>
